src/nifi_flows/Reviews_API_Ingestion.json
{"flowContents":{"identifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","instanceIdentifier":"15d3ffb7-019f-1000-068b-1ec82e6e73d6","name":"Reviews API Ingestion","comments":"","position":{"x":1232.0,"y":272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d9fc33a3-4f33-3f97-a926-605614ce5620","instanceIdentifier":"15e2575d-019f-1000-72cc-270eef13c1af","name":"PutMongo","comments":"","position":{"x":784.0,"y":480.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.27.0"},"properties":{"mongo-client-service":"99db7b3d-e5f7-3d95-b8ed-b022f502cd9d","Upsert":"false","ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mode":"insert","Mongo Database Name":"dataone","Mongo URI":null,"Update Query Key":null,"Mongo Collection Name":"reviews","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"},{"identifier":"b0577244-934c-3960-89f4-fb104068cbcc","instanceIdentifier":"15ece576-019f-1000-d236-d33dece29d27","name":"LogMessage","comments":"","position":{"x":104.0,"y":488.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"log-message":"Rejected payload on /reviews — missing review_id: ${flowFileContent} —if flowFileContent","log-level":"warn","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"},{"identifier":"de771936-6547-3598-9bff-8e8a09adbc4a","instanceIdentifier":"15d9987e-019f-1000-5863-0993c6bb8c32","name":"ListenHTTP","comments":"","position":{"x":400.0,"y":8.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"reviews","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"9900"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"},{"identifier":"66c91c0d-ba26-31fb-867c-f115bf9e7aef","instanceIdentifier":"15dfa43b-019f-1000-243f-7d4912978a90","name":"RouteOnContent","comments":"","position":{"x":400.0,"y":248.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Content Buffer Size":"1 MB","valid_review":"review_id","Match Requirement":"content must contain match","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"valid_review":{"name":"valid_review","displayName":"valid_review","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dc3a77ea-482b-3e80-8a8b-f0d85962e5e6","instanceIdentifier":"15eeab8f-019f-1000-cc8a-ad8e82a20c04","name":"","source":{"id":"de771936-6547-3598-9bff-8e8a09adbc4a","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"ListenHTTP","comments":"","instanceIdentifier":"15d9987e-019f-1000-5863-0993c6bb8c32"},"destination":{"id":"66c91c0d-ba26-31fb-867c-f115bf9e7aef","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"RouteOnContent","comments":"","instanceIdentifier":"15dfa43b-019f-1000-243f-7d4912978a90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"},{"identifier":"7c6e0224-48b8-3009-8ca3-e2de322c59fb","instanceIdentifier":"15ef142d-019f-1000-7305-88b048860924","name":"","source":{"id":"66c91c0d-ba26-31fb-867c-f115bf9e7aef","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"RouteOnContent","comments":"","instanceIdentifier":"15dfa43b-019f-1000-243f-7d4912978a90"},"destination":{"id":"d9fc33a3-4f33-3f97-a926-605614ce5620","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"PutMongo","comments":"","instanceIdentifier":"15e2575d-019f-1000-72cc-270eef13c1af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid_review"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"},{"identifier":"549970f6-a2a4-3c70-a05e-8ae9e6a44cb1","instanceIdentifier":"15efbc38-019f-1000-c4db-8d10a727f351","name":"","source":{"id":"66c91c0d-ba26-31fb-867c-f115bf9e7aef","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"RouteOnContent","comments":"","instanceIdentifier":"15dfa43b-019f-1000-243f-7d4912978a90"},"destination":{"id":"b0577244-934c-3960-89f4-fb104068cbcc","type":"PROCESSOR","groupId":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613","name":"LogMessage","comments":"","instanceIdentifier":"15ece576-019f-1000-d236-d33dece29d27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"99db7b3d-e5f7-3d95-b8ed-b022f502cd9d","instanceIdentifier":"15d598fc-019f-1000-9338-7221257b5585","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.27.0"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":null,"mongo-uri":"mongodb://dataone:changeme@mongodb:27017"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"769ab5b8-dc97-39fc-8dd6-1b9eabf38613"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}